@import url('https://fonts.googleapis.com/css?family=Fredoka+One:regular,bold,italic&subset=latin,latin-ext');

.storeLogo {display: inline; margin-right: 18%;
  font-family: 'Fredoka One';
  font-size: 33px;
}
nav {
  font-family: 'Helvetica';
  text-align: center;
  background-color: #af4ac4;
  color: rgb(254, 254, 254);
  font-size: 25px;
  height: 8vh;
  padding: 5px;
  max-height: 8.5vh;
}
nav a {
  margin-right: 3%;
  color: white;
  text-decoration: none;
}

.navlinks {
  display: inline;
  margin-right: 9%;
}

.hello {
  width: 400px;
  height: 400px;
  min-height: 250px;
  min-width: 250px;
  margin: 10px auto auto auto;
  font-size: 34px;
  border: 4px solid fuchsia;
  text-align: center;
  text-transform: capitalize;
  box-shadow: rgba(240, 46, 170, 0.4) -5px 5px, rgba(240, 46, 170, 0.3) -10px 10px, rgba(240, 46, 170, 0.2) -15px 15px, rgba(240, 46, 170, 0.1) -20px 20px, rgba(240, 46, 170, 0.05) -25px 25px;
}

.cart {
  font-size: 20px;
  color: white;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 6%;
  justify-items: right;
  top: 14px;
  display: inline-flex;
}
.cart a {
  margin-top: -25%;
  padding: 5px;
  font-size: 18px;
  color: white;
  text-decoration: none;
  
}